@import "../../../styles/variables";

.custom-text-area {
  textarea {
    font-family: $font-family-lato;
    padding: 20px;
    border-radius: 40px;
    background-color: $bg-medium !important;
    border-color: transparent;
    color: #fff;
    &:hover,
    &:focus {
      border-color: $primary-100;
      background-color: $bg-medium;
    }
    &::placeholder {
      font-family: $font-family-lato;
      color: $gray-600;
    }
  }
}
