@import "../../../../styles/variables";

.update-card {
  border: 1px solid $gray-800;
  border-radius: 12px;
  padding: 12px;
  gap: 16px;
  max-width: 392px;
  height: 85%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .update-card-img {
    z-index: 2;
  }
  .card-animation-circle {
    opacity: 0.5;
  }
  .top-circle,
  .bottom-circle {
    left: 25%;
  }
  .top-circle {
    top: 25%;
  }
  .bottom-circle {
    scale: 0.2;
  }
  &:hover {
    border: 1px solid $primary-100;
    .top-circle {
      transition: scale 0.5 ease;
      scale: 0.2;
    }
    .bottom-circle {
      transition: scale 0.5 ease;
      bottom: -100px;
      scale: 1;
    }
    .update-card-btn {
      background-color: $primary-100;
      border: none;
    }
  }
  .update-card-date {
    color: $primary-100;
  }
  .update-card-title {
    font-family: $font-family-titillium;
    font-size: $font-size-xl;
    font-weight: 600;
  }
  .update-card-description {
    line-height: 26px;
    color: $gray-500;
  }

  @media screen and (max-width: $md-breakpoint) {
    height: 100%;
  }
  @media screen and (max-width: $sm-breakpoint) {
    max-width: 100%;
    .update-card-img {
      width: 100%;
    }
  }
}
