@import "../../../../styles/variables";

.copy-popover {
  border: 1px solid $gray-800;
  border-radius: 7px;
  .ant-popover-inner {
    border-radius: 7px;
  }
  .ant-popover-inner-content {
    font-family: $font-family-lato;
    color: $gray-600;
  }
}
