@import "../../styles/variables";

.dashboard-layout {
  padding: 32px;
  min-height: calc(100vh - 64px);
  background-image: url("../../assets/images/bg-img.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  .dashboard-layout-sidebar {
    position: fixed;
    padding: 32px;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .dashboard-layout-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding-left: 20px;
    z-index: 0;
  }

  @media screen and (max-width: $md-breakpoint) {
    .dashboard-layout-sidebar {
      display: none;
    }
    .dashboard-layout-content {
      margin-left: 0;
      padding-left: 0px;
      width: 100%;
    }
  }

  @media screen and (max-width: $sm-breakpoint) {
    padding: 16px;
    min-height: calc(100vh - 32px);
  }
}
