@import "../../../../styles/variables";

.feedback-form-section {
  .feedback-form-section-header {
    align-items: center;

    .feedback-switch-container {
      width: 162px;
      padding: 8px;
      border-radius: 42px;
      background-color: $bg-medium;
      font-family: $font-family-titillium;
      font-weight: 600;
      .feedback-switch-label {
        padding: 4px 8px;
        border-radius: 28px;
        text-transform: capitalize;
        cursor: pointer;
      }
      .feedback-switch-label-active {
        border: 1px solid $primary-100;
      }
    }
  }
  .text-area-with-attachment {
    border-radius: 40px;
    padding: 20px;
    background-color: $bg-medium;
    border: 1px solid;
    border-color: transparent;
    &:hover {
      border-color: $primary-100;
    }
    textarea {
      padding-top: 8px;
      padding-left: 8px;
      &:hover,
      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
    }
    .text-area-attachment {
      background-color: $bg-medium;
      border: 1px solid $primary-100;
      border-radius: 28px;
      padding: 4px 8px;
      font-size: $font-size-lg;
      font-weight: 600;
      font-family: $font-family-titillium;
      color: #fff;
      cursor: pointer;
    }
  }

  @media screen and (max-width: $sm-breakpoint) {
    .feedback-form-section-fields-container {
      gap: 12px !important;
    }
    .feedback-form-section-fields {
      flex-wrap: wrap;
    }
  }
}
