@import "../../../styles/variables";

.users-section {
  background-color: $bg-medium;
  overflow-x: hidden;
}

.user-review-scroll {
  width: 200%;
}

.user-review-scroll .flex {
  animation: scroll 10s linear infinite;
}

@media screen and (max-width: $md-breakpoint) {
  .users-section {
    padding-left: 16px;
    padding-right: 16px;
    overflow: scroll;
  }
  .user-review-scroll {
    width: 100%;
  }
  .user-review-scroll .flex {
    justify-content: center;
    flex-wrap: wrap;
    animation: none;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(8%);
  }
  100% {
    transform: translateX(8%);
  }
  50% {
    transform: translateX(-8%);
  }
}
