@import "../../../styles/variables";

.auth-logo-container {
  .auth-logo-title {
    font-family: $font-family-titillium;
    font-weight: 700;
    color: #fff;
  }
  @media screen and (max-width: $sm-breakpoint) {
    .auth-logo-img {
      width: 32px;
      height: 32px;
    }
    .auth-logo-title {
      font-size: 22.5px !important;
    }
  }
}
