@import "../../../../styles/variables";

.facts-section {
  .facts-section-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto;
    background-color: $primary-100;
  }
  .facts-section-title {
    white-space: nowrap;
    text-align: left;
    line-height: 27px;
  }
  .facts {
    .facts-title {
      font-family: $font-family-titillium;
      font-size: 72px;
      line-height: 72px;
      font-weight: 700;
    }
    .facts-description {
      font-size: $font-size-sm;
      color: $gray-600;
      font-weight: 600;
    }
  }

  @media screen and (max-width: $lg-breakpoint) {
    .facts {
      gap: 60px !important;
    }
  }

  @media screen and (max-width: $md-breakpoint) {
    .facts-section-title {
      font-size: 36px;
    }
    .facts {
      .facts-title {
        line-height: 49px;
        font-size: $font-size-main-heading-sm;
      }
      .facts-description {
        font-size: $font-size-xs;
      }
    }
  }

  @media screen and (max-width: $sm-breakpoint) {
    .facts-section-title {
      font-size: $font-size-xl;
    }
    .facts {
      gap: 24px !important;
    }
  }
  @media screen and (max-width: $xs-breakpoint) {
    .facts-section-title {
      font-size: $font-size-base;
    }
    .facts {
      .facts-title {
        font-size: 24px;
      }
    }
  }
}
