@import "../../styles/variables";

.ideas-card {
  background-color: $bg-medium;
  padding: 24px;
  border-radius: 12px;
  .how-it-works-card {
    gap: 8px !important;
  }
  .how-it-works-card-description {
    font-size: $font-size-xs;
    line-height: 20px;
  }
}

@media screen and (max-width: $md-breakpoint) {
  .ideas-card-container {
    flex-direction: column;
  }
}
