@import "../../../../../styles/variables";

.mission-card {
  border: 1px solid $gray-800;
  border-radius: 12px;
  padding: 24px;

  &:hover {
    border-color: $primary-100;
  }

  .mission-card-title {
    font-family: $font-family-titillium;
    font-size: $font-size-xl;
    line-height: 26px;
    font-weight: 600;
    color: #fff;
  }
  .mission-card-description {
    font-size: $font-size-sm;
    line-height: 23px;
    color: $gray-600;
  }

  @media screen and (max-width: $sm-breakpoint) {
    padding: 16px;
    gap: 12px !important;
    .mission-card-title {
      font-size: $font-size-lg;
    }
    .mission-card-description {
      font-size: $font-size-xs;
      line-height: 20px;
    }
  }
}
