@import "../../../styles/variables";

.custom-switch {
  .ant-switch-inner {
    border: 1px solid $gray-500;
  }
  .ant-switch-handle {
    &:before {
      background-color: $primary-100;
    }
  }
  &[aria-checked="true"] {
    .ant-switch-inner {
      background-color: $bg-medium;
      border: 1px solid $primary-100;
    }
  }
}
