@import "../../styles/variables";

.learn-content-card {
  background-color: $bg-medium;
  padding: 12px;
  border-radius: 8px;
  .learn-content-card-title {
    font-family: $font-family-titillium;
    font-weight: 600;
    line-height: 25px;
  }
  .learn-content-card-description {
    font-size: $font-size-sm;
    color: $gray-600;
    line-height: 23px;
  }
}
