@import "../../../styles/variables";

.insider-graph {
  @media screen and (max-width: $md-breakpoint) {
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  .ant-spin {
    .ant-spin-dot {
      li {
        background-color: $primary-100;
      }
    }
  }
  .ant-spin-blur::after {
    background-color: $gray-900;
    opacity: 1;
  }
  .insider-graph-data-container {
    width: 236px;
    padding: 12px;
    border-radius: 12px;
    color: #fff;
    border: 1px solid $gray-800;

    .insider-graph-data-container-scroll {
      &::-webkit-scrollbar {
        width: 5px !important;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: $gray-600;
        border-radius: 4px;
      }
    }

    .insider-graph-data-container-title {
      font-family: $font-family-titillium;
      font-size: $font-size-lg;
      line-height: 26px;
      font-weight: 600;
      color: $gray-50;
    }
    @media screen and (max-width: $md-breakpoint) {
      width: 100%;
      overflow: scroll;
      .insider-graph-data-container-scroll {
        &::-webkit-scrollbar {
          height: 5px !important;
        }
      }
      .insider-graph-data-container-tokens {
        flex-direction: row;
      }
    }
  }
}
