@import "../../../styles/variables";

.logout-btn {
  cursor: pointer;
  background-color: $gray-900;
  max-width: 150px;
  padding: 18px;
  border-radius: 24px;
  border: 1px solid $red;
  color: $red;
  font-family: $font-family-titillium;
  &:hover {
    background-color: $gray-800;
  }
}
