@import "../../../../styles/variables";

.user-settings-container {
  .user-settings-container-input-label {
    font-size: $font-size-sm;
    color: $gray-600;
  }
  .user-settings-container-current-email,
  .user-settings-container-btn {
    font-family: $font-family-titillium;
    font-weight: 600;
  }
  .user-settings-container-btn {
    color: $primary-100;
  }
  .user-settings-container-column {
    flex: 1;
    .user-settings-container-input {
      flex: 1;
    }
  }

  @media screen and (max-width: $md-breakpoint) {
    .user-settings-inputs-container {
      flex-direction: column;
      align-items: stretch;
    }
    .user-settings-container-column {
      flex-direction: column;
      align-items: stretch;
      gap: 12px !important;
    }
  }
}
