@import "../../../styles/variables";

.custom-modal {
  .ant-modal-content,
  .ant-modal-header {
    background-color: $gray-900;
  }
  .ant-modal-content {
    padding: 24px;
    border-radius: 24px;
  }
  .ant-modal-header {
    margin-bottom: 24px;
  }
  .ant-modal-title {
    font-family: $font-family-titillium;
    font-weight: 600;
    font-size: $font-size-lg;
    color: $gray-50;
  }
}

.custom-modals {
  .ant-modal-content {
    background-color: $filter-modal;
  }

  .ant-modal-header {
    background-color: transparent;
    margin-bottom: 10px;
  }

  .solid-line {
    border: 1px solid #4A5568;
    margin-bottom: 20px;
  }

  .ant-modal-close-x {
    margin-top: -10px;
    color: #000;
  }

  .placeholder-color::placeholder {
    color: gray;
  }

}

.ant-select-selector {
  background-color: #1A202C !important;
  border-color: #1A202C !important;
}

.ant-select-selection-placeholder {
  color: gray !important;
}

.ant-select-item-option-content {
  color: gray !important;
}

.ant-select-selection-item {
  color: gray !important;
}

.ant-select-selector:hover {
  border-color: #793FCA !important;
}

.ant-select-arrow {
  color: gray !important;

}

.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  color: blueviolet;
}