@import "../../../styles/variables";

.who-we-are-section {
  .who-we-are-section-text {
    .section-title,
    .section-description {
      text-align: left;
    }
    .section-description {
      line-height: 26px;
    }
  }
}
