@import "../../../styles/variables";

.pricing-section {
  .pricing-section-header {
    align-items: center;
    .pricing-plan-switch-container {
      margin-top: 12px;
      padding: 8px;
      border-radius: 8px;
      background-color: $bg-medium;
      width: 150px;
      .pricing-plan-switch-label {
        font-size: $font-size-sm;
        font-family: $font-family-titillium;
        font-weight: 600;
      }
    }
  }
  .pricing-card-container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 5px !important;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-600;
      border-radius: 4px;
    }
    @media screen and (max-width: 1250px) {
      max-width: 1000px;
    }
    @media screen and (max-width: $lg-breakpoint) {
      max-width: 768px;
    }
    @media screen and (max-width: 870px) {
      max-width: 650px;
    }
    @media screen and (max-width: 700px) {
      max-width: 500px;
    }
    @media screen and (max-width: $sm-breakpoint) {
      max-width: 350px;
    }
    @media screen and (max-width: $xs-breakpoint) {
      max-width: 300px;
    }
  }
}
