.auth-form {
  width: 50%;
  padding: 0px 80px;

  .cl-internal-wfr9tw {
    display: none;
  }
  .cl-rootBox,
  .cl-card {
    width: 100%;
  }

  .cl-card {
    margin: 0px;
    padding: 0px;
    .cl-otpCodeFieldInputs {
      input {
        max-width: 100px;
      }
    }
    .cl-formFieldLabel {
      font-size: $font-size-sm;
    }
    input {
      background-color: $gray-900;
      font-size: $font-size-sm;
      height: 60px;
      border-radius: 40px;
      &:focus {
        box-shadow: $primary-100 0px 0px 0px 1px;
      }
    }
    .cl-formButtonPrimary {
      font-size: $font-size-base;
      font-weight: 600;
      height: 45px;
      border-radius: 43px;
    }
  }

  .cl-footer {
    display: none;
  }

  .cl-headerTitle {
    font-family: $font-family-titillium;
    font-size: $font-size-heading;
    font-weight: 700;
    @media screen and (max-width: $sm-breakpoint) {
      font-size: $font-size-heading-sm;
    }
  }

  .cl-headerSubtitle {
    font-size: $font-size-sm;
    color: $gray-600;
  }

  .auth-form-title {
    font-family: $font-family-titillium;
    font-size: $font-size-heading;
    font-weight: 700;
    @media screen and (max-width: $sm-breakpoint) {
      font-size: $font-size-heading-sm;
    }
  }
  .auth-form-subtitle {
    font-size: $font-size-sm;
    color: $gray-600;
  }
  .auth-form-tos-text {
    font-size: $font-size-xs;
    font-weight: 600;
    font-family: $font-family-titillium;
    color: white;
  }
  .auth-form-footer-text {
    font-size: $font-size-xs;
    color: $gray-600;
  }
  @media screen and (max-width: $xl-breakpoint) {
    padding: 0px 40px;
  }
  @media screen and (max-width: $lg-breakpoint) {
    padding: 0px 20px;
  }
  @media screen and (max-width: $md-breakpoint) {
    width: 100%;
  }
  @media screen and (max-width: $sm-breakpoint) {
    padding: 0px;
    .cl-formFieldRow {
      flex-direction: column;
    }
  }
}
.auth-bg-img {
  width: 50%;
  @media screen and (max-width: $md-breakpoint) {
    display: none;
  }
}
