// Text Classes
.primary-text {
  color: $primary-100 !important;
}

.error-text {
  color: #ff4d4f;
  font-size: $font-size-xs;
}

.link {
  color: $secondary-100;
  font-weight: 600;
  font-size: $font-size-sm;
  font-family: $font-family-titillium;
}

.ant-notification-notice-wrapper {
  border-radius: 16px !important;
  background-color: $bg-medium !important;
  border: 1px solid $gray-600;
}
.custom-toast {
  .Toastify__toast {
    padding: 12px !important;
    background-color: $bg-medium;
    border: 1px solid $gray-600;
    border-radius: 16px;
  }
  .Toastify__toast-body {
    align-items: flex-start;
    padding: 0px;
    .Toastify__toast-icon {
      margin-top: 5px;
    }
  }
  .Toastify__close-button {
    svg {
      fill: #fff;
    }
  }
  .custom-toast-msg {
    color: #fff !important;
    font-size: $font-size-lg;
    font-weight: 600;
    font-family: $font-family-titillium !important;
  }
  .custom-toast-description {
    color: $gray-600 !important;
    font-size: $font-size-sm;
    font-family: $font-family-lato;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.section-container {
  padding: 80px 0px;

  .section-left-column,
  .section-right-column {
    width: 50%;
  }

  .section-title {
    font-family: $font-family-titillium;
    font-size: $font-size-heading;
    text-transform: capitalize;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
  }
  .section-description {
    color: $gray-500;
    line-height: 26px;
    text-align: center;
  }
  .section-get-started-btn {
    width: 110px;
  }

  @media screen and (max-width: $md-breakpoint) {
    flex-wrap: wrap;
    padding: 40px 0px;
    .section-left-column,
    .section-right-column {
      width: 100%;
    }
  }

  @media screen and (max-width: $sm-breakpoint) {
    padding: 24px 0px;
    gap: 24px !important;
    .section-title {
      font-size: $font-size-heading-sm;
      line-height: 38px;
    }
    .section-description {
      font-size: $font-size-xs;
      line-height: 20px;
    }
  }
}

.landing-page-section {
  padding: 0px 50px;
  @media screen and (min-width: $xl-breakpoint) {
    padding: 0px 188px;
  }
  @media screen and (max-width: $xl-breakpoint) {
    padding: 0px 100px;
  }
  @media screen and (max-width: $lg-breakpoint) {
    padding: 0px 50px;
  }
  @media screen and (max-width: $sm-breakpoint) {
    padding: 0px 16px;
  }
}

.card-animation-circle {
  height: 158px;
  width: 158px;
  background: $primary-100;
  opacity: 0.3;
  filter: blur(51.04999923706055px);
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  transition: all 0.5s ease;
}

// Margin Classes
.mt-5 {
  margin-top: 0.3125rem !important;
}
.mr-5 {
  margin-right: 0.3125rem !important;
}
.mr-10 {
  margin-right: 0.625rem !important;
}
.ml-10 {
  margin-left: 0.625rem !important;
}
.mt-12 {
  margin-top: 0.75rem !important;
}
.mt-14 {
  margin-bottom: 0.875rem !important;
}
.mt-18 {
  margin-top: 1.125rem !important;
}

.mr-18 {
  margin-right: 1.125rem !important;
}

.mb-18 {
  margin-bottom: 1.125rem !important;
}

.mt-30 {
  margin-top: 1.875rem !important;
}

.mb-30 {
  margin-bottom: 1.875rem !important;
}

.mt-50 {
  margin-top: 3.125rem !important;
}
.mb-50 {
  margin-bottom: 3.125rem !important;
}
