.hero-section {
  .hero-section-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .hero-section-title {
    position: relative;
    font-family: $font-family-titillium;
    font-size: $font-size-main-heading;
    line-height: 91px;
    text-transform: capitalize;
    font-weight: 700;
  }
  .hero-section-title-centered {
    width: 50%;
    text-align: center;
  }
  .hero-section-description {
    text-align: left;
  }
  .hero-section-bg-img {
    width: 100%;
  }
  .hero-section-start-icon {
    position: absolute;
    padding-left: 15px;
    bottom: 18px;
  }

  .hero-section-header-img,
  .hero-section-graph-img {
    width: 100%;
  }
  .hero-section-facts-img {
    position: absolute;
    right: -20px;
    top: -100px;
  }
  @media screen and (max-width: $md-breakpoint) {
    .hero-section-title-centered {
      width: 100%;
    }
  }

  @media screen and (max-width: $sm-breakpoint) {
    .hero-section-text {
      gap: 12px;
    }
    .hero-section-title {
      font-size: $font-size-main-heading-sm !important;
      line-height: 48px !important;
      font-weight: 600 !important;
    }
    .hero-section-start-icon {
      width: 24px;
      height: 24px;
      padding-left: 10px;
      bottom: 10px;
    }
    .hero-section-description {
      font-size: $font-size-xs;
    }
    .hero-section-facts-img {
      width: 130px;
      right: 100%;
      top: -50px;
    }
    .hero-section-btn-group {
      @media screen and (max-width: $xs-breakpoint) {
        button {
          font-size: $font-size-xs;
        }
      }
    }
  }
}
