// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// // Breakpoints
$xs-breakpoint: 375px;
$sm-breakpoint: 500px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1440px;
$xxl-breakpoint: 2180px;

// // Theme-colors
$primary-100: #793fca;
$primary-90: #8550cf;
$primary-80: #9162d4;
$primary-70: #9e73d8;
$primary-60: #aa85dd;
$primary-50: #b696e2;
$primary-40: #ceb9ec;
$primary-30: #dacbf1;
$primary-20: #e7dcf5;
$primary-10: #f3eefa;
$primary-0: #faf6ff;

$secondary-100: #ffef0a;
$secondary-90: #fff11f;
$secondary-80: #fff334;
$secondary-70: #fff449;
$secondary-60: #fff55e;
$secondary-50: #fff673;
$secondary-40: #fff788;
$secondary-30: #fff89d;
$secondary-20: #fff9b2;
$secondary-10: #fffac7;
$secondary-0: #fffbdc;

$bg-sidebar: #311d4d;
$bg-paginate: #220f3d;
$bg-color: #100521;
$bg-soft: #000417;
$bg-medium: #1b0042;
$bg-dark: #15012f;

$gray-900: #1a202c;
$gray-800: #2d3748;
$gray-700: #4a5568;
$gray-600: #718096;
$gray-500: #a0aec0;
$gray-400: #cbd5e0;
$gray-300: #e2e8f0;
$gray-200: #edf2f7;
$gray-100: #f7fafc;
$gray-50: #fafafa;

$red: #f16063;
$filter-modal: #220F3D;
;

// // Typography
// //
// // Font, line-height, and color for body text, headings, and more.
$font-family-titillium: "Titillium Web", sans-serif;
$font-family-lato: "Lato", sans-serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-xl: ($font-size-base * 1.25) !default;
$font-size-lg: ($font-size-base * 1.125) !default;
$font-size-sm: ($font-size-base * 0.875) !default;
$font-size-xs: ($font-size-base * 0.75) !default;

// // Heading font sizes
$font-size-main-heading: ($font-size-base * 3.25) !default;
$font-size-main-heading-sm: ($font-size-base * 2.25) !default;
$font-size-heading: ($font-size-base * 3) !default;
$font-size-heading-sm: ($font-size-base * 1.75) !default;
