@import "../../../styles/variables";

.disclaimer-modal {
  .disclaimer-title {
    color: white;
    font-weight: 600;
  }
  .disclaimer-text {
    color: $gray-400 !important;
    text-align: justify;
  }
  @media screen and (max-width: $md-breakpoint) {
    .ant-modal-content {
      overflow: auto;
      max-height: 700px;
    }
  }
}
