@import "../../../../styles/variables";

.features-section {
  background-color: $bg-medium;

  padding-left: 50px;
  padding-right: 50px;
  @media screen and (min-width: $xl-breakpoint) {
    padding-left: 188px;
    padding-right: 188px;
  }
  @media screen and (max-width: $xl-breakpoint) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (max-width: $lg-breakpoint) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (max-width: $md-breakpoint) {
    .features-section-cards {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: $sm-breakpoint) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
