@import "../../../../styles/variables";

.header-mobile-drawer {
  background-color: $bg-medium !important;
  .ant-drawer-wrapper-body {
    background-color: $bg-medium;
  }
  .ant-drawer-header {
    display: none;
  }
  .ant-drawer-body {
    padding: 24px 50px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .header-menu-cross-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .header-nav-container {
    .header-nav-link {
      font-family: $font-family-lato;
      font-size: $font-size-sm;
      font-weight: 600;
      color: $gray-600;
      &:hover {
        color: $primary-100;
      }
    }
    .header-nav-link-active {
      color: #fff;
    }
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
  @media screen and (max-width: $sm-breakpoint) {
    .ant-drawer-body {
      padding: 16px 16px;
    }
  }
}
