@import "../../../../styles/variables";

.ant-drawer-mask {
  background: linear-gradient(113deg, rgba(255, 255, 255, 0.05) 0.93%, rgba(255, 255, 255, 0) 97.36%);
  backdrop-filter: blur(6.349999904632568px);
}

.dashboard-header-drawer {
  .ant-drawer-header {
    display: none;
  }

  .ant-drawer-content,
  .ant-drawer-body {
    background: $bg-sidebar !important;
  }

  .ant-drawer-body {
    padding: 0px;
    width: 100%;
  }
}
