@import "../../../styles/variables";

.header {
  background-color: transparent;
  border-bottom: 1px solid $gray-700;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-nav-container {
    .header-nav-link {
      font-family: $font-family-lato;
      font-size: $font-size-sm;
      font-weight: 600;
      color: $gray-600;
      &:hover {
        color: $primary-100;
      }
    }
    .header-nav-link-active {
      color: #fff;
    }
  }

  .header-menu-icon {
    cursor: pointer;
    display: none;
  }

  @media screen and (max-width: $md-breakpoint) {
    height: 70px;
    .header-menu-icon {
      display: block;
    }
    .header-nav-container,
    .header-nav-btns {
      display: none;
    }
  }
}
