@import "../../../styles/variables";

.nav-links-container {
  .nav-link {
    font-family: $font-family-lato;
    font-size: $font-size-sm;
    font-weight: 600;
    color: $gray-600;
    cursor: pointer;
    &:hover {
      color: $primary-100;
    }
  }
  .nav-link-active {
    color: #fff;
  }
}
