@import "../../../styles/variables";

.custom-outline-btn {
  background-color: transparent;
  height: 45px;
  border-radius: 40px;
  color: #ffffff;
  font-family: $font-family-titillium;
  font-weight: 600;
  font-size: 16px;
  border-color: $secondary-100;
  &:hover {
    background-color: transparent !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
  }
}
