@import "../../../../styles/variables";

.insiders-table-container {
  overflow: auto;

  .insiders-table {
    .ant-table {
      background: transparent;
    }
    .ant-table-content {
      font-family: $font-family-lato;
    }
    thead {
      .ant-table-cell:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .ant-table-cell:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      .ant-table-cell {
        padding: 8px !important;
        font-size: 10px;
        color: $gray-600 !important;
        background: $bg-medium !important;
        border-bottom: none !important;
      }
      td::before {
        content: none !important;
      }
      th::before {
        content: none !important;
      }
    }
    tbody {
      tr {
        cursor: pointer;
      }
      .idFlow {
        font-family: $font-family-titillium;
        font-weight: 600;
        color: #fff;
      }
      td {
        background-color: transparent;
      }
      .dots {
        background-color: $gray-800;
        padding: 0px 4px;
        border-radius: 4px;
        height: 12px;
        margin-bottom: 4px;
      }
      .change24h {
        border-radius: 4px;
        color: #00a911;
        background-color: #003f12;
        border: 1px solid #00a911;
      }
      .change24h-red {
        color: #a90000;
        background-color: #260000;
        border: 1px solid #a90000;
      }
      .url {
        color: $gray-600;
      }
      .nftscan-url-img {
        width: 100px;
      }
      .ant-table-cell {
        padding: 16px 8px !important;
        font-size: $font-size-sm;
        color: $gray-600;
        border-bottom: 1px solid $gray-700 !important;
      }
      .ant-table-cell-row-hover {
        background-color: transparent !important;
      }
    }
  }
}
.filterIcon {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent !important;
}

.buttonStyle {
  border-radius: 20px;
  width: 100%;
  background-color: #793fca;
  color: white;
  height: 50px;
  font-weight: bold;
  border-width: 0;
  margin-top: 5;
}

.buttonDiv {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.filterSection {
  display: flex;
  flex-direction: column;
}
.filterRow {
  display: flex;
  margin-bottom: 8px;
  width: 100%;
  justify-content: space-between;
}
.filterFiled {
  width: 48%;
}
.filterFiledWithoutLable {
  width: 48%;
  margin-top: 22px;
}
.lableStyle{
  font-weight: bold;
  color: white
}
.selectorsStyle{
 width: 100%;
 height: 45px;
 margin-top: 5px;
}
.inputStyle{
  width: 100%;
  background-color: #1A202C !important;
  border-width: 0px;
  height: 45px;
  margin-top: 5px;
  color: white;

}
.ant-select-dropdown {
  background-color: #1A202C !important;
}
