@import "../../../../../styles/variables";

.how-it-works-card {
  max-width: 392px;
  .how-it-works-card-index {
    width: 25px;
    height: 25px;
    background: $bg-medium;
    border: 1px solid $primary-100;
    padding: 10px;
    border-radius: 4px;
  }

  .how-it-works-card-title {
    font-family: $font-family-titillium;
    font-size: $font-size-xl;
    line-height: 26px;
    font-weight: 600;
  }
  .how-it-works-card-description {
    line-height: 25px;
    color: $gray-500;
  }
  @media screen and (max-width: $md-breakpoint) {
    max-width: 100%;
  }
  @media screen and (max-width: $sm-breakpoint) {
    gap: 12px !important;
    .how-it-works-card-description {
      font-size: $font-size-xs;
      line-height: 20px;
    }
  }
}
