@import "../../../../styles/variables";

.insiders-card {
  max-width: 665px;
  background-color: $bg-medium;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid $primary-100;
  .insiders-card-title {
    font-family: $font-family-titillium;
    font-size: $font-size-sm;
    font-weight: 600;
  }
  .insiders-card-description {
    font-size: $font-size-xs;
    text-align: center;
    color: $gray-600;
  }
  .insiders-card-btn {
    max-width: 180px;
    color: $secondary-100;
  }
}
