@import "../../../styles/variables";

.ant-dropdown-menu {
  padding: 18px !important;
  font-family: $font-family-titillium !important;
  background-color: $bg-medium !important;
  width: 210px;
  border: 1px solid $primary-100 !important;
  .ant-dropdown-menu-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
    .menu-title {
      color: $gray-500;
      font-weight: 600;
      font-size: $font-size-base;
    }
    .logout-text {
      color: $red;
    }
    &:hover {
      background-color: $primary-80 !important;
    }
  }
  .ant-dropdown-menu-item-divider {
    background-color: $gray-600 !important;
  }
}
