@import "../../../../styles/variables";

.notification-settings-container {
  background-color: $bg-medium;
  padding: 18px;
  border-radius: 24px;
  .notification-settings-container-title {
    font-family: $font-family-titillium;
    font-weight: 600;
    line-height: 25px;
    color: $gray-500;
  }
}
