@import "../../../styles/variables";

.custom-checkbox {
  font-weight: 600;
  font-size: $font-size-xs;
  font-family: $font-family-titillium;
  color: #fff;
  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: $primary-100 !important;
    }
  }
  .ant-checkbox {
    .ant-checkbox-inner {
      background-color: $bg-medium;
      border-color: $gray-700;
    }
    &:hover {
      .ant-checkbox-inner {
        border-color: $primary-100 !important;
      }
    }
  }
}
