@import "../../../styles/variables";

.custom-pagination {
  li {
    a {
      font-size: 13px;
      font-weight: 600;
      font-family: $font-family-lato;
      color: $gray-600 !important;
    }
    svg {
      color: $gray-600 !important;
    }
    border: 1px solid !important;
    border-color: $gray-700 !important;
    background-color: #030e1e !important;
    border-radius: 8px !important;
  }
  .ant-pagination-item-ellipsis {
    color: $gray-600 !important;
  }
  .ant-pagination-item-active {
    background-color: $primary-100 !important;
    border-color: transparent !important;
    a {
      color: $bg-dark !important;
    }
  }
}
