@import "../../../styles/variables";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

.animated-divider {
  .line {
    width: 48%;
    height: 1px;
  }
  .left-line {
    background: linear-gradient(90deg, rgba(98, 98, 98, 0) 0%, rgba(98, 98, 98, 1) 100%);
  }
  .right-line {
    background: linear-gradient(90deg, rgba(98, 98, 98, 1) 0%, rgba(98, 98, 98, 0) 100%);
  }

  .circle-container {
    width: 21px;
    height: 39px;
    border: 1px solid $gray-500;
    border-radius: 10px;
  }

  .circle {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-left: 8px;
    transform: translate(-50%, -50%);
    z-index: 2;
    &.animate {
      @include keyframes(moveUpDown) {
        0%,
        20% {
          // Start and stay at the top for 20% of the time
          top: 25%; // Move up
        }
        50%,
        70% {
          // Move down and stay there for 20% of the time
          top: 75%; // Move down
        }
        100% {
          top: 20%; // Move up to the initial position
        }
      }

      @include keyframes(scaleUpDown) {
        0%,
        20% {
          // Start and stay at the initial size for 20% of the time
          transform: translate(-50%, -50%) scale(1); // Original size
        }
        50%,
        70% {
          // Scale up and stay there for 20% of the time
          transform: translate(-50%, -50%) scale(1.5); // Increase size
        }
        100% {
          transform: translate(-50%, -50%) scale(1); // Return to initial size
        }
      }
      animation:
        moveUpDown 3s infinite alternate ease-in-out,
        scaleUpDown 3s infinite alternate ease-in-out;
    }
  }
  @media screen and (max-width: $md-breakpoint) {
    display: none;
  }
}
