@import "../../styles/variables";

.user-layout {
  background-image: url("../../assets/images/bg-img.svg");
  background-size: cover;
  @media screen and (max-width: $md-breakpoint) {
    background-size: contain;
  }
}
