@import "../../../../../styles/variables";

.feature-card {
  border: 1px solid $gray-800;
  border-radius: 12px;
  padding: 24px;
  gap: 24px;
  max-width: 600px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .card-animation-circle {
    bottom: -130px;
    left: -130px;
  }
  &:hover {
    border-color: $primary-100;
    .card-animation-circle {
      translate: 345px -325px;
    }
  }

  .feature-card-title {
    font-family: $font-family-titillium;
    font-size: $font-size-xl;
    font-weight: 600;
    line-height: 26px;
    z-index: 2;
    color: #fff;
  }
  .feature-card-description {
    font-size: $font-size-sm;
    line-height: 23px;
    z-index: 2;
    color: $gray-600;
  }

  @media screen and (max-width: $sm-breakpoint) {
    padding: 12px;
    gap: 12px;
    .feature-card-title {
      font-size: $font-size-lg;
    }
    .feature-card-description {
      font-size: $font-size-xs;
      line-height: 20px;
    }
  }
}
