@import "../../../../styles/variables";

.payment-settings-container {
  background-color: $bg-medium;
  padding: 18px;
  border-radius: 24px;
  .payment-settings-container-title {
    font-family: $font-family-titillium;
    font-weight: 600;
    line-height: 25px;
  }
  .payment-settings-container-description {
    font-size: $font-size-xs;
    line-height: 20px;
    color: $gray-600;
  }
  .update-btn {
    max-width: 160px;
    color: $secondary-100;
  }
}

@media screen and (max-width: $md-breakpoint) {
  .update-modal {
    .ant-modal-content {
      overflow: auto;
      max-height: 700px;
    }
  }
}
