@import "../../../styles/variables";

.dashboard-header {
  .dashboard-header-back-btn {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    background-color: $bg-medium;
    cursor: pointer;
    img {
      width: 8px;
      height: 14px;
    }
  }
  .dashboard-header-logo {
    display: none;
  }
  .dashboard-header-title {
    font-family: $font-family-titillium;
    font-size: $font-size-main-heading-sm;
    text-transform: capitalize;
    font-weight: 600;
  }
  .dashboard-header-description {
    font-size: $font-size-sm;
    color: $gray-600;
  }
  .dashboard-header-search-input {
    border-color: $gray-800;
    background-color: $bg-dark;
    padding-left: 9px !important;
    width: 275px;
    input {
      background-color: $bg-dark;
      height: 42px;
      border-radius: 40px;
      border-color: $gray-800;
    }
  }
  .dashboard-header-bell-icon {
    width: 42px;
    height: 42px;
    background-color: $bg-dark;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid $gray-900;
  }
  .dashboard-header-divider {
    border-color: $gray-800;
    height: 42px;
  }
  .dropdown-button {
    cursor: pointer;
  }
  .dashboard-header-username {
    font-family: $font-family-titillium;
    font-weight: 600;
    white-space: nowrap;
  }
  .dashboard-header-menu-icon {
    cursor: pointer;
    display: none;
  }

  .dashboard-header-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  @media screen and (max-width: $md-breakpoint) {
    .dashboard-header-logo {
      display: block;
    }
    .dashboard-header-menu-icon {
      display: block;
    }
  }
  @media screen and (max-width: $sm-breakpoint) {
    .dashboard-header-back-btn {
      width: 32px;
      height: 32px;
    }
    .dashboard-header-avatar {
      width: 32px;
      height: 32px;
    }
    .dashboard-header-username {
      font-size: $font-size-xs;
    }
    .dashboard-header-title {
      font-size: $font-size-heading-sm;
    }
    .dashboard-header-description {
      font-size: $font-size-xs;
    }
  }
}
.logoutStyle {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.logoutLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%
}
