@import "../../../styles/variables";

.custom-btn {
  background-color: $secondary-100;
  height: 45px;
  border-radius: 40px;
  color: $gray-900;
  font-family: $font-family-titillium;
  font-weight: 600;
  font-size: 16px;
  border-width: 0px;
  &:hover {
    background-color: transparent !important;
    border-width: 1px;
    color: #ffffff !important;
    border-color: #ffffff !important;
  }
}

.google-btn {
  background-color: transparent !important;
  border-width: 1px;
  color: #ffffff !important;
  border-color: #ffffff !important;

  &:hover {
    background-color: $secondary-100 !important;
    height: 45px;
    border-radius: 40px;
    color: $gray-900 !important;
    font-family: $font-family-titillium;
    font-weight: 600;
    font-size: 16px;
    border-width: 0px;
  }
}