@import "../../../styles/variables";

.insider-graph-data-card {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid $gray-800;
  cursor: pointer;
  .insider-graph-data-card-title {
    font-size: 10px;
    color: $gray-600;
  }
  .insider-graph-data-card-description {
    font-family: $font-family-titillium;
    font-size: $font-size-xs;
    font-weight: 600;
  }
}
.insider-graph-data-card-active {
  background-color: #220f3d;
  border: 1px solid $primary-100;
}
