@import "../../../styles/variables";

.sidebar {
  background-color: $bg-sidebar;
  padding: 18px;
  border-radius: 12px;
  overflow-y: auto; 
  max-height: 90vh; 
  scrollbar-width: none; 
  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .sidebar-content {
    overflow: auto;
    min-height: 600px;
  }

  .sidebar-menu-item {
    padding: 4px 12px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;

    &::-webkit-scrollbar {
      width: 5px !important;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-600;
      border-radius: 4px;
    }

    .ant-tree {
      background: transparent;
      color: $gray-600;
      font-size: $font-size-base;
      font-family: $font-family-titillium;
    }

    .ant-tree-indent-unit {
      &::before {
        border-inline-end: 1px solid $primary-100;
      }
    }

    .ant-tree-switcher-leaf-line {
      &::before {
        border-inline-end: 1px solid $primary-100;
      }
      &::after {
        border-bottom-left-radius: 4px;
        border-bottom: 1px solid $primary-100;
      }
    }
    .sidebar-menu-item-name,
    .sidebar-menu-item-children-name {
      text-transform: capitalize;
      font-family: $font-family-titillium;
      line-height: 25px;
      font-size: $font-size-sm;
      font-weight: 600;
      color: $gray-600;
    }

    .sidebar-menu-item-children,
    .sidebar-menu-item-chevron-down,
    .sidebar-menu-item-chevron-up {
      transition: all 0.3s ease-in-out;
    }
    .sidebar-menu-item-chevron-up {
      filter: brightness(0) invert(1);
      rotate: -180deg;
    }
  }

  .sidebar-menu-item-active {
    border-right: 1px solid $primary-100;
    background: linear-gradient(270deg, rgba(121, 63, 202, 0.24) 0%, rgba(121, 63, 202, 0) 82.81%);
    .sidebar-menu-item-name {
      color: #fff;
    }
  }

  .upgrade-card-bg {
    padding: 12px;
    height: 160px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(121, 63, 202, 0.3) 0%, rgba(121, 63, 202, 0) 100%);
    position: relative;
  }

  .upgrade-card-border {
    height: 160px;
    padding: 12px;
    border-radius: 12px;
    background: $bg-sidebar;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
  }
  .upgrade-card {
    height: 160px;
    padding: 12px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(121, 63, 202, 0.12) 0%, rgba(121, 63, 202, 0) 100%);
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    .upgrade-card-title {
      font-family: $font-family-titillium;
      font-size: $font-size-sm;
      font-weight: 600;
      text-transform: capitalize;
      line-height: 24px;
    }
    .upgrade-card-description {
      text-align: center;
      font-family: $font-family-lato;
      font-size: $font-size-xs;
      color: $gray-600;
      line-height: 20px;
    }
    .upgrade-card-btn {
      font-weight: 600;
      color: $secondary-100;
    }
  }

  @media screen and (max-width: $md-breakpoint) {
    max-width: 100% !important;
    width: auto !important;
  }
  @media screen and (min-width: 769px) {
    .sidebar-cross-icon {
      display: none;
    }
  }
}

.centerLoading{
  display: "flex";
  align-items: center;
  justify-content: center,
}