@import "../../../../styles/variables";

.pricing-plan-card {
  border: 1px solid $gray-800;
  border-radius: 12px;
  padding: 24px;
  width: 300px;
  background-color: $bg-medium;
  z-index: 2;
  position: relative;
  overflow: hidden;
  color: #fff;
  @media screen and (max-width: $xl-breakpoint) {
    min-width: 300px;
  }
  .card-animation-circle {
    top: -170px;
    left: 25%;
    opacity: 0.5;
  }
  .pricing-plan-card-btn {
    border-color: #fff;
  }
  &:hover {
    border: 1px solid $primary-100;
    .card-animation-circle {
      transform: translateY(70px);
    }
    .pricing-plan-card-btn {
      background-color: $primary-100;
      border: none;
    }
  }
  .pricing-plan-card-name {
    font-family: $font-family-titillium;
    font-size: $font-size-xl;
    z-index: 2;
    font-weight: 600;
  }
  .pricing-plan-description {
    font-size: $font-size-sm;
    line-height: 23px;
    color: $gray-600;
  }
  .pricing-plan-card-price-container {
    .pricing-plan-card-price-label {
      color: $gray-500;
    }
    .pricing-plan-card-price {
      font-family: $font-family-titillium;
      font-size: 36px;
      font-weight: 600;
    }
  }
  .pricing-plan-card-offerings-heading {
    font-family: $font-family-titillium;
    font-weight: 600;
  }
  .pricing-plan-card-offerings-container {
    .check-icon {
      width: 16px;
      height: 16px;
    }
    .pricing-plan-card-offering-name {
      color: $gray-500;
    }
  }

  @media screen and (max-width: $sm-breakpoint) {
    width: 100%;
    min-width: 200px;
    padding: 16px;
    gap: 16px !important;
    .pricing-plan-card-price-container {
      .pricing-plan-card-price {
        font-size: 22px;
      }
    }
    .pricing-plan-card-offering-name {
      font-size: $font-size-xs;
    }
  }
}

.color-text{
  color:gold !important;
}