@import "../../../styles/variables";

.custom-input {
  .ant-input-affix-wrapper {
    border-color: transparent;
    background-color: $bg-medium !important;
    border-radius: 40px;
    padding-left: 18px;
    &:focus-within {
      border-color: $primary-100;
      background-color: $bg-medium;
    }
    &:hover {
      border-color: $primary-100;
      background-color: $bg-medium;
    }
  }
  input {
    font-family: $font-family-lato;
    height: 60px;
    padding-left: 20px;
    border-radius: 40px !important;
    background-color: $bg-medium !important;
    border-color: transparent;
    margin-left: 10px;
    color: #fff !important;
    &:focus,
    &:hover {
      border-color: $primary-100;
      background-color: $bg-medium;
    }
    &::placeholder {
      font-family: $font-family-lato;
      color: $gray-600;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
  }
}
