@import "../../../styles/variables";

.custom-password-input {
  border-color: transparent;
  background-color: $bg-medium !important;
  border-radius: 40px;
  padding-left: 18px;
  &:focus-within {
    border-color: $primary-100;
    background-color: $bg-medium;
  }
  &:hover {
    border-color: $primary-100;
    background-color: $bg-medium;
  }
  svg {
    color: $gray-600;
    width: 24px;
    height: 24px;
  }
  input {
    font-family: "Lato", sans-serif;
    padding-left: 10px;
    border-radius: 40px;
    height: 60px;
    background-color: $bg-medium !important;
    margin-left: 10px;
    border-color: transparent;
    color: #fff !important;
    &:focus,
    &:hover {
      border-color: $primary-100;
      background-color: $bg-medium;
    }
    &::placeholder {
      font-family: "Lato", sans-serif;
      color: $gray-600;
    }
        }
    input:-webkit-autofill {
      -webkit-background-clip: text;
      -webkit-text-fill-color: #ffffff;
    }
}
