@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Titillium+Web:wght@400;600;700;900&display=swap");
@import "./styles/variables";
@import "./styles/classes";
@import "./styles/authStyles";
@import "./styles/heroSectionStyles";

body {
  margin: 0;
  background-color: $bg-color;
  font-family: $font-family-lato;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
