@import "../../../styles/variables";

.dashboard-content-section {
  padding: 18px;
  position: relative;
  border-radius: 24px;
  border: 1px solid $gray-700;
  .dashboard-content-section-title {
    font-family: $font-family-titillium;
    font-size: $font-size-lg;
    text-transform: capitalize;
    line-height: 26px;
    font-weight: 600;
    color: $gray-50;
  }
  .dashboard-content-section-icon {
    background-color: $primary-100;
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
  }
}
