@import "../../../styles/variables";

.clients-section {
  background-color: $bg-medium;
  border-radius: 4px;
  padding: 30px;
  @media screen and (max-width: $md-breakpoint) {
    margin-top: 60px;
  }
  @media screen and (max-width: $sm-breakpoint) {
    .client-logo {
      width: 70px;
    }
    padding: 20px;
    gap: 16px !important;
  }
}
