@import "../../../styles/variables";

.footer {
  background-color: $bg-medium;
  border-top: 1px solid $primary-100;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 40px;
  .footer-logo-section {
    width: 25%;
  }
  .footer-logo-container {
    .footer-logo-img {
      width: 36px;
      height: 36px;
    }
    .footer-logo-title {
      font-family: $font-family-titillium;
      font-size: $font-size-lg;
      font-weight: 600;
      color: #fff;
    }
  }
  .footer-description {
    font-family: $font-family-lato;
    line-height: 26px;
    color: $gray-500;
  }

  .footer-section {
    .footer-section-heading {
      font-family: $font-family-titillium;
      font-size: $font-size-xl;
      font-weight: 600;
      color: #fff;
    }
    .footer-section-footer-link {
      font-family: $font-family-lato;
      font-size: $font-size-sm;
      font-weight: 600;
      color: $gray-600;
      &:hover {
        color: $primary-100;
      }
    }
    .footer-section-footer-link-active {
      color: #fff;
    }
    .footer-section-icon-container {
      width: 44px;
      height: 44px;
      background-color: $bg-dark;
      border-radius: 50%;
      img {
        width: 16px;
        height: 16px;
      }
    }
    .footer-section-text {
      font-family: $font-family-lato;
      font-size: $font-size-sm;
      font-weight: 600;
      color: $gray-600;
    }
  }

  @media screen and (min-width: $xl-breakpoint) {
    padding-left: 188px;
    padding-right: 188px;
  }
  @media screen and (max-width: $xl-breakpoint) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (max-width: $lg-breakpoint) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (max-width: $md-breakpoint) {
    padding-top: 40px;
    gap: 24px;
    .footer-logo-section {
      width: 100%;
    }
  }
  @media screen and (max-width: $sm-breakpoint) {
    padding-left: 24px;
    padding-right: 24px;
    .footer-section {
      gap: 18px !important;
    }
    .footer-section-links {
      .nav-links-container {
        gap: 14px !important;
      }
    }
  }
}

.company-footer-section {
  padding: 24px 0px;
  border-top: 1px solid $gray-600;
  background-color: $bg-medium;
  .company-footer-section-text {
    font-size: $font-size-sm;
    font-weight: 600;
    color: $gray-600;
  }
  .company-footer-section-link {
    color: $primary-100;
  }
}
