@import "../../../../styles/variables";

.user-review-card {
  border: 1px solid $gray-700;
  border-radius: 12px;
  padding: 24px;
  width: 392px;
  background-color: $bg-dark;
  .user-review-card-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .user-review-card-name {
    font-family: $font-family-titillium;
    font-size: $font-size-xl;
    font-weight: 600;
  }
  .user-review-card-designation,
  .user-review-card-comment {
    color: $gray-500;
  }
  .user-review-card-comment {
    line-height: 26px;
  }
  @media screen and (max-width: $md-breakpoint) {
    margin-top: 0px !important;
  }
  @media screen and (max-width: $sm-breakpoint) {
    padding: 16px;
    gap: 12px !important;
    width: 100%;

    .user-review-card-designation {
      font-size: $font-size-sm;
    }

    .user-review-card-comment {
      font-size: $font-size-xs;
      line-height: 20px;
    }
  }
}
